<header
  class="sticky top-0 z-50 flex items-center justify-between whitespace-nowrap border-b border-slate-200 bg-white px-10 py-3 dark:border-slate-800 dark:bg-slate-900"
>
  <div class="flex items-center gap-8">
    <div class="text-primary flex items-center gap-3">
      <div
        class="bg-primary text-white size-8 flex items-center justify-center rounded-lg"
      >
        <span class="material-symbols-outlined">apartment</span>
      </div>
      <h2
        class="text-slate-900 text-lg leading-tight font-bold tracking-tight dark:text-slate-100"
      >
        UniHostel Pro
      </h2>
    </div>

    <div class="hidden items-center gap-6 md:flex">
      <a
        routerLink="/dashboard"
        routerLinkActive="text-primary"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-slate-600 hover:text-primary text-sm font-medium transition-colors dark:text-slate-400 dark:hover:text-primary"
        
        >Dashboard</a
      >
      <a
        routerLink="/hostels"
        routerLinkActive="text-primary border-primary border-b-2 py-1 font-semibold"
        class="text-slate-600 hover:text-primary text-sm font-medium transition-colors dark:text-slate-400 dark:hover:text-primary"
        >Hostels</a
      >
      <a
        routerLink="/rooms"
        routerLinkActive="text-primary"
        class="text-slate-600 hover:text-primary text-sm font-medium transition-colors dark:text-slate-400 dark:hover:text-primary"
        
        >Rooms</a
      >
      <a
        routerLink="/students"
        routerLinkActive="text-primary"
        class="text-slate-600 hover:text-primary text-sm font-medium transition-colors dark:text-slate-400 dark:hover:text-primary"
        
        >Students</a
      >
      <a
        routerLink="/reports"
        routerLinkActive="text-primary"
        class="text-slate-600 hover:text-primary text-sm font-medium transition-colors dark:text-slate-400 dark:hover:text-primary"
        
        >Reports</a
      >
    </div>
  </div>

  <div class="flex items-center gap-4">
    <button
      class="flex items-center justify-center rounded-lg p-2 text-slate-500 hover:bg-slate-100 dark:hover:bg-slate-800"
      type="button"
    >
      <span class="material-symbols-outlined">notifications</span>
    </button>
    <div
      class="bg-primary/10 border-primary/20 size-10 aspect-square rounded-full border bg-cover bg-center bg-no-repeat"
      aria-label="Professional profile photo of system administrator"
      role="img"
      style="
        background-color: rgba(5, 148, 103, 0.1);
        border-color: rgba(5, 148, 103, 0.2);
        background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBAlFUsQWiwu3YBhxu1jpMAGv8muIvGH10_eK6ZBCvsei_QghvOMrt3H6yQy3Uiqn_0wjzIaO4YcEQ8VZvXTHU5Yw5HrO3_MYi3wxnVJgBaZiyJv9HDTyLuXTWb0Tv0IJevGLx5cYKcUWTLN_l9m3TGtl0cwoJ8kF0RZjBlJSer41nul3axiECDnebgij4-ibcpTFTIeCdaZcrOhhoG1-OvQikLp36khVxLc331W2iClCJ8wwuBvifDahWk7rqpAyBHBha3kzW-3wU');
      "
    ></div>
  </div>
</header>
